@import url("./index.css");

.step {
  padding-left: 1rem !important;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.navigation-bar {
  height: 100vh;
  width: 0%;
  background: var(--gradient-primary-t-b);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
  z-index: 20;

  &.open {
    width: 20%;
  }

  &.is-mobile {
    position: fixed;
    width: 0%;
    border-radius: 0;

    & .wrapper {
      padding-top: 5rem;
    }

    &.open {
      width: 100%;
    }
  }

  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  & .wrapper {
    position: relative;
    height: 100%;
    width: fit-content;
    padding: 1rem;
    overflow: auto;

    & .logo {
      position: sticky;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: fit-content;
      width: 100%;
      border-radius: 0.5rem;
      z-index: 2;
      background-color: transparent;
      backdrop-filter: blur(30px);
      padding: 1rem;

      & svg {
        width: 100%;
        height: fit-content;
        object-fit: cover;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &>ul {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      height: 100%;
      width: 100%;
      padding-bottom: 1rem;
      z-index: 1;

      & li {
        height: fit-content;
        width: 100%;

        & .navigation-link-dropdown {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          height: fit-content;
          width: 100%;

          & .toggle {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 0.5rem;
            height: fit-content;
            width: 100%;
            border: none;
            outline: none;
            padding: 0.5rem;
            border-radius: 0.5rem;
            background-color: transparent;
            cursor: pointer;


            & .icon {
              display: flex;
              justify-content: center;
              align-items: center;
              aspect-ratio: 1 / 1;

              &.is-open {
                rotate: 90deg;
              }

              & svg {
                stroke: var(--primary-95);
              }
            }

            & p {
              margin-bottom: 0;
            }
          }

          &>ul {
            position: relative;
            height: 0;
            overflow: hidden;
            transition: all 0s;

            &.open {
              height: 100%;
            }

            &::before {
              position: absolute;
              left: 0;
              top: -1.5rem;
              content: "";
              display: flex;
              height: calc(100% + 0.2rem);
              width: .2rem;
              border-radius: 0.5rem;
              background-color: var(--primary-50);
            }

            & .navigation-link {
              text-align: left;
            }
          }
        }

        & .navigation-link {
          display: flex;
          gap: 0.25rem;
          height: fit-content;
          width: 100%;
          border: none;
          outline: none;
          padding: 0.5rem 0.75rem;
          border-radius: 0.5rem;
          background-color: transparent;
          cursor: pointer;
          text-wrap: wrap;
          text-align: left;
          margin-bottom: 0.5rem;

          &.active {
            background-color: var(--primary-10);
          }
        }
      }
    }
  }
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  max-height: 100svh;
  width: 100%;
  padding: 1rem 0;
  overflow-y: auto;
  z-index: 10;

  &.open {
    width: 80%;
  }

  &.is-mobile {
    width: 100%;
  }

  & section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: fit-content;
    padding: 0 1rem;
    width: 100%;

    &>.wrapper {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      height: fit-content;
      width: 100%;
      padding: 0 1rem;
      position: relative;

      & ul {
        height: fit-content;
        width: 100%;

        & li {
          height: fit-content;
          width: 100%;
        }
      }
    }

    &.screen {

      & .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80svh;
        width: 100%;
        text-align: center;
        padding: 0 3rem;
      }
    }

    &.hero-section {
      & .wrapper {
        background: var(--gradient-primary-l-r);
        border-radius: 1rem;
        padding: 1rem 1.5rem;
      }
    }
  }

  & .welcome-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(30px);

    &.hidden {
      backdrop-filter: blur(0px);
      pointer-events: none;

      & .wrapper {
        opacity: 0;
        filter: blur(30px);
        transform: translateY(25%);
        pointer-events: none;
      }
    }

    & .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      padding: 2rem;
      border-radius: 1rem;
    }
  }

  & .form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: fit-content;
    width: fit-content;

    & .input-field {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      height: fit-content;
      width: 100%;

      &>p {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        color: var(--primary-10);
        font-weight: 500;
      }

      & input,
      & select,
      & textarea {
        min-width: 30vw;
        width: 100%;
        border-radius: 1rem;
        color: var(--primary-50);
        font-size: 1.2rem;
        padding: 1rem 1rem;
        border: 0.2rem solid var(--primary-90);
        outline: 0rem solid var(--primary-90);

        &.text-center {
          text-align: center;
        }

        &:hover,
        &:focus-visible {
          border: 0.2rem solid var(--primary-50);
          outline: 0.3rem solid var(--primary-90);
        }
      }

      & textarea {
        height: 10rem;
      }
    }

    &>button {
      padding: 0.75rem 1rem;
      border: none;
      outline: none;
      border-radius: 0.5rem;
      box-shadow: 0 0.5rem 1rem #00000010;
      background-color: var(--primary-90);
      color: var(--primary-10);
      font-weight: bold;
      margin-top: 1rem;
      cursor: pointer;

      &:hover,
      &:focus-visible {
        scale: 1.2;
        background-color: var(--primary-50);
        color: white;
        box-shadow: 0 0.5rem 1rem #00000030;
      }

      &:active {
        scale: 1.05;
      }
    }
  }

  & .main-table-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    height: fit-content;
    width: 100% !important;
    padding: 0 !important;

    & .table-wrapper {
      position: relative;
      display: flex;
      justify-content: start;
      align-items: start;
      max-height: 60vh;
      width: 100%;
      overflow: auto;
      border-radius: 1rem;
      padding: 0 !important;
      box-shadow: 0 0.5rem 1rem #00000010;
      scroll-behavior: smooth;


      &:hover {
        box-shadow: 0 0.5rem 1rem #00000030;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      &>table {
        display: table;
        border-collapse: collapse;
        height: fit-content;
        width: 100%;
        background-color: var(--primary-95);

        &:hover,
        &:focus-visible {
          & thead {
            box-shadow: 0 0.5rem 1rem #00000030;
          }
        }

        & thead {
          position: sticky;
          top: 0;
          color: var(--primary-95);
          box-shadow: 0 0.5rem 1rem #00000010;
          z-index: 1;
          backdrop-filter: blur(30px);

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: var(--gradient-primary-l-r);
            opacity: 0.1;
          }

          & tr th {
            font-weight: 400;
            font-size: 1.2rem;
            color: var(--primary-50);

            &::selection {
              background-color: var(--primary-10);
              /* color: #fff; */
            }
          }
        }

        & tbody {
          & tr {
            & td {
              text-wrap: nowrap;
              border: 0.1rem solid var(--primary-90);

              &:nth-child(1) {
                border-left: none;
              }

              &:last-child {
                border-right: none;
              }
            }

            &:nth-child(1) {
              & td {
                border-top: none;
              }
            }

            &:last-child {
              & td {
                border-bottom: none;
              }
            }
          }
        }

        & th,
        & td {
          padding: 0.75rem 1.5rem;
          text-align: center;
        }
      }
    }

    & .buttons-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      gap: 0.5rem;
      padding: 0 !important;

      & button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.75rem 1rem;
        border: none;
        outline: none;
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem #00000010;
        background-color: var(--primary-90);
        color: var(--primary-10);
        font-weight: bold;
        cursor: pointer;

        &:hover,
        &:focus-visible {
          scale: 1.2;
          background-color: var(--primary-50);
          color: white;
          box-shadow: 0 0.5rem 1rem #00000030;
        }

        &:active {
          scale: 1.05;
        }
      }
    }
  }

  & .code-display {
    display: flex;
    justify-content: start;
    align-items: start;
    height: fit-content;
    width: 90%;
    background-color: #111;
    border-radius: 2rem;

    & .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      /* gap: 1rem; */
      height: fit-content;
      width: 100%;
      padding: 1rem;

      & .code-display-header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: fit-content;
        width: 100%;
        height: fit-content;
        width: 100%;
        padding: 1rem;
        background-color: var(--primary-50);
        border-radius: 1rem;
        z-index: 2;

        &::before {
          content: "";
          position: absolute;
          top: -1rem;
          left: 1rem;
          height: 1rem;
          width: calc(100% - 2rem);
          background-color: #111;
        }

        & .label {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: calc(clamp(1.1rem, 1rem + 0.5vw, 1.5rem) / 4);

          & p {
            color: var(--dark);
          }
        }

        & .options {
          display: flex;
          justify-content: end;
          align-items: center;
          gap: 1rem;

          & button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: none;
            outline: none;
            background-color: var(--primary-70);
            color: var(--primary-10);
            cursor: pointer;

            &:hover,
            &:focus-visible {
              box-shadow: 0 0.5rem 1rem #00000030;
            }

            &.is-open {
              & svg {
                rotate: 90deg;
              }
            }
          }
        }
      }

      & pre {
        height: fit-content;
        width: 100%;
        padding: 1rem;
        overflow: auto;
        background-color: #111;
        border-radius: 0.5rem;

        &::-webkit-scrollbar {
          background-color: #111;
          border-radius: 0.5rem;
        }

        &::-webkit-scrollbar-thumb {
          border-color: #111;
        }

        &::-webkit-scrollbar-track {
          margin: 0;
        }

        & * {
          font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
            monospace;
          color: white;
          font-size: clamp(1rem, 0.6rem + 0.5vw, 1.2rem);
        }

        & code {
          height: fit-content;
          width: 100%;

          & ::selection {
            background-color: var(--primary-20) !important;
          }
        }
      }
    }
  }
}

.toggle-btn {
  position: fixed;
  top: 2rem;
  right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  background-color: var(--primary-95);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem #00000010;
  z-index: 30;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  & button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;

    & .open,
    & .close {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      pointer-events: none;

      & svg {
        height: 60%;
        width: 60%;
        color: var(--primary-100);
      }
    }

    & .open {
      opacity: 1;
      filter: blur(0px);
      transform: translate(-50%, -50%);
    }

    & .close {
      opacity: 0;
      filter: blur(10px);
      transform: translate(-150%, -50%);
    }
  }

  &.open {
    & button {
      & .open {
        opacity: 0;
        filter: blur(10px);
        transform: translate(100%, -50%);
      }

      & .close {
        opacity: 1;
        filter: blur(0px);
        transform: translate(-50%, -50%);
      }
    }
  }
}